.HomeState__Container {
    display: flex;
    flex-direction: column;
}

.HomeState__NoIdentities {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: -0.5rem;
}

.HomeState__NoIdentities__Images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.HomeState__NoIdentities__Images__DashLogo {
    width: 18px;
    padding-left: 12px;
    padding-top: 10px;
}

.HomeState__NoIdentities__Images__CoinImage {
    width: 150px;
}

.HomeState__NoIdentities__Container {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.HomeState__NoIdentities__Buttons {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    gap: 1.25rem;
}

.HomeState__NoIdentities__Buttons__Import {
    padding: 10px;
    min-width: 70px;
    border: none;
    border-radius: 20px;
    font-weight: 400;
    color: white;
    background-color: #4C7EFF;
}

.HomeState__NoIdentities__Buttons__Register {
    padding: 10px;
    min-width: 80px;
    border: none;
    font-weight: 400;
    border-radius: 20px;
    color: black;
    background-color: #60F6D2;
}

.HomeState__NoIdentities__Import {
    padding: 10px;
}

.HomeState__NoIdentities__Register {
    padding: 10px;
}


.HomeState__Identity__Select {
    width: 100%;
    font-size: 12pt;
    border: none;
}

.HomeState__Identity__Balance {
    font-size: 12pt;
    margin-top: 6px;
}

.HomeState__Identity__Buttons {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-around;
    color: gray;
}

.HomeState__Identity__Buttons__Send {
    padding: 10px;
    border: 1px solid black;
    border-radius: 12px;
}

.HomeState__Identity__Buttons__Withdraw {
    padding: 10px;
    border: 1px solid black;
    border-radius: 12px;
}

.HomeState__Transactions {
    margin-top: 6px;
}

.HomeState__Transactions__Container {
    margin-top: 6px;
    height: 100%;
    overflow: hidden;
}

.HomeState__Transactions__Title {
    font-size: 12pt;
}

.HomeState__Transactions__Error {

}

.HomeState__Transactions__Item {
    overflow: hidden;
    color: black;
    text-decoration: none;
    padding-top: 3px
}

.HomeState__Transactions__Item > a {
    color: black;
    text-decoration: none;
    font-size: 10pt;
}
