body {
    margin: 0;
    display: flex;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.main_container {
    /*border: 2px black solid;*/
    width: 200px;
    max-height: 600px;
    max-width: 800px;
}
