.ImportIdentityState__Description {
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
}
.ImportIdentityState__Description__Item {
    padding-top: 4px;
    padding-bottom: 4px;
}

.ImportIdentityState__Check_Message {
    padding: 4px;
}

.ImportIdentityState__Identity {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ImportIdentityState__Identity_Description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top:6px;
    padding-bottom:6px;
}

.ImportIdentityState__Identity__Identity {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ImportIdentityState__Identity__Balance {
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ImportIdentityState__Identity__Identity__Item {
    padding-top: 2px;
    word-break: break-word;
}

.ImportIdentityState__Identity__Import__Button {
    margin-top: 10px;
    width: 100%;
}
