.ApproveTransaction__Error {
    word-wrap: break-word;
}
.ApproveTransaction__TxHash {
    margin-top: 10px;
    word-wrap: break-word;
    text-align: center;

}

.ApproveTransaction__Title {
    font-size: 16pt;
}
.ApproveTransaction__Container {
    display: flex;
    flex-direction: column;
}
.ApproveTransaction__SignWith {
}

.ApproveTransaction__SignWith__Select {
    margin-top: 4px;
    padding: 4px;
    width: 100%;
}

.ApproveTransaction__Buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.ApproveTransaction__Buttons > button {
    min-height: 30px;
    min-width: 80px;
}

.ApproveTransaction__Title {
    text-align: center;
}
